@charset "utf-8";
/*
시작일 : 2010 / 08 /30
작성자 : Shim
*/


/* top & sub Navi */
.Tn-hover{margin-top:-2px !important;color:#1e8bc4;border-top:2px solid #1e8bc4;}
.Sn-hover{font-weight:bold;letter-spacing:-1px;color:#fff !important;}
.S3-hover{font-weight:bold;letter-spacing:-1px;color:#1e8bc4 !important;}
/* e / top & sub Navi */



/* Layout */
.knTw{width:100%;background:url('/Common/Images/Common/body_repeatbg.png') repeat-x 0 0px;}
.kn-wrap{position:relative;background:url('/Common/Images/Common/body_bg.gif') no-repeat center 0;z-index:20;}
.knw{width:1100px;margin:0 auto; }
.kn-wrap .knw-head{width:1100px;height:193px;overflow:hidden; background:('/Common/Images/Common/kn-bdBG.png') no-repeat 0 0;z-index:100;}
.knw-head .util{/*width:1068px;*/padding-right:18px;height:25px;z-index:100;padding-top:7px}
.util a{float:right;background:url('/Common/Images/icon/main-util-bul.gif') no-repeat 0 7px;padding-left:8px;margin:0 5px;}
.knw-head .nav{width:1100px;overflow:hidden;background:transparent url('/Common/Images/Common/nav-rpBg2.png') repeat-x 0 0;}
.nav .logo{float:left;width:96px;height:28px;}
.nav .top-tit{clear:both;position:absolute;top:100px;width:181px;height:44px;padding:25px 0 0 200px;}
.nav .top-nav {float:left;padding-left:100px;padding-top:2px;}
.top-nav span{display:inline-block;line-height:16px;margin-top:2px;padding:8px 8px;font-weight:bold;cursor:pointer;font-size:12px;}
.top-nav span a{display:inline-block;line-height:16px;color:#2b2a2b;}
.top-nav span:hover{color:#1e8bc4;font-size:12px;margin-top:-2px;padding:8px 8px;border-top:2px solid #1e8bc4;}
.nav .logo{margin-top:8px;}
/* */
.sun-nav-wp{clear:both;padding-left:200px;}
.sub-nav-lt{float:left;background:url('/Common/Images/Common/Sub-nav-leftbg.gif') left 0; padding-left:7px;overflow:hidden;}
.sub-nav-rt{float:left;background:url('/Common/Images/Common/Sub-nav-rightbg.gif') right 0;padding-right:7px;overflow:hidden;}
.sub-nav-md{background:url('/Common/Images/Common/Sub-nav-midbg.gif') repeat-x 0;}
.sub-nav-md span{height:29px;line-height:29px;padding:0 5px;cursor:pointer;color:#C4D8EC;font-size:11px;}
.sub-nav-md span:hover{font-weight:bold;color:#ffffff;letter-spacing:-1px;font-size:11px;}
/*  */
.kn-wrap .knw-cont{width:1100px;;margin:0 auto;background:transparent;}
.knw-cont .left-nav{float:left;width:200px;overflow:hidden;}
.lenTit{color:#000;padding:10px 0;font-weight:bold;text-align:center;}
.lenTit img{vertical-align:middle;}
.knw-cont .content{float:left;width:900px;height:500px;}
/*  */ 
.left-nav .lenBtbg{position:relative;width:200px;padding-bottom:16px;background:url('/Common/Images/Common/bottom-nav-topbg.gif') no-repeat left bottom;}
.lenBtbg .lenTit1{position:absolute;left:0;top:0;width:200px;margin-top:10px;color:#fff;font-size:14px;letter-spacing:-1px;font-weight:bold;text-align:center;}
.left-nav .lenTpbg{width:200px;padding-top:54px;background:url('/Common/Images/Common/left-nav-topbg.gif') no-repeat left top;}
.left-nav .lenDlist{width:180px;padding:0px 0 0 20px;background:url('/Common/Images/Common/mid-nav-topbg.gif') repeat-y 0 0;}
.lenDlist li{cursor:pointer;padding:5px 0;}
.lenDlist li a{display:block;width:100%;}
.lenDlist li a:hover{color:#1e8bc4 !important;font-weight:bold;letter-spacing:-1px;}
/*   */
.cont-Btbg{width:900px;background:url('/Common/Images/Common/cont-bottomBg.gif') no-repeat left bottom;padding-bottom:20px;}
.cont-Tpbg{width:900px;background:url('/Common/Images/Common/cont-topBg.gif') no-repeat left top; padding-top:20px;}
.cont-Mid{position:relative;width:900px;background:url('/Common/Images/Common/cont-midBg.gif') repeat-y 0 0;}
.cont-Mid .cont-tit{width:850px;height:44px;overflow:hidden;margin-left:20px;}
.cont-tit .sub-tit{width:100%;font-size:16px;line-height:16px;color:#000;font-weight:bold;}
.cont-tit .sub-util{width:100%;text-align:right;}
.sub-util .home{background:url('/Common/Images/Icon/home-bul.gif') no-repeat 0 -2px;padding-left:19px;height:16px;}
.cont-Mid .cont-wp{width:845px;height:600px;margin-left:30px;padding:3px 0 0 0;overflow-y:auto;overflow-x:hidden;}
/* Tab-Menu */
.Tab-wp{ }
.Tab-wp .TabM{width:840px;overflow:hidden;border-bottom:2px solid #d6d6d6;}
.Tab-wp .TabM li{float:left;display:inline-block;width:88px;height:27px;margin-right:5px;line-height:27px;background:url('/Common/Images/Common/TabBg-Off.gif') repeat-x 0 0; text-align:center;vertical-align:middle;font-weight:bold;cursor:pointer;}
.Tab-wp .TabM li.Over{background:url('/Common/Images/Common/TabBg-Over.gif') repeat-x 0 0;font-weight:bold;color:#fff;}
.Tab-wp .TabM li a{display:block;width:100%;line-height:27px;}
/* Cal Style */
.Cal-Tinfo{width:840px;overflow:hidden;margin-top:10px;}
.Cal-Tinfo li{float:left;padding-right:10px;}
.Cal-Tinfo li.Ct1 span{display:inline-block;vertical-align:middle;width:10px;height:10px;margin-left:5px;background:#1e8bc4;}
.Cal-Tinfo li.Ct2 span{display:inline-block;vertical-align:middle;width:10px;height:10px;margin-left:5px;background:#d10000;}

/* footer */ 
.footer{text-align:right;padding:10px 10px 30px 0;}

/* //Layout */

/*  */
.Top-fix{width:845px;overflow:hidden;margin-left:20px;}
.bottom-fix{width:845px;overflow:hidden;margin-left:20px;}

/* PopUp1 */
.knpop1{width:355px;overlfow:hidden;padding:20px 0 0 0;}
.knpop1 .TbCel-Type-Pup1{width:274px;margin:0 auto;}
.knpop1 .btnMrg{width:180px; margin:0 auto;}
/* PopUp2 */
.knpop2{width:355px;overlfow:hidden;padding:20px 0 0 0;}
.knpop2 .TbCel-Type-Pup2{width:274px;margin:0 auto;}
.knpop2 .pop2Tit{font-weight:bold; font-size:14px;}
.knpop2 .btnMrg{width:180px; margin:10px auto;}
/* PopUp3 */
.knpop3{width:355px;overlfow:hidden;padding:20px 0 0 0;}
.knpop3 .TbCel-Type-Pup3{width:274px;margin:0 auto;}
/* Icon */
.sortc{color:#f00;}
.sortc img{padding-left:5px;vertical-align:middle;}
/* Page Work*/
/* 230 */
/* 235 */
.C235-wp{width:820px;overflow:hidden;line-height:170%;vertical-align:middle;margin:10px 0;}
.C235-st{margin-left:10px;}
/*246*/
.C246-wp{width:820px;overflow:hidden;line-height:170%;vertical-align:middle;margin:10px 0;}
.C246-st{margin-left:10px;}
/*Find Id Pw*/
.Fip{width:460px;height:257px;padding:15px;margin:0 auto;background:url('/Common/Images/Common/FIP-WpBg.gif') no-repeat 0 0;}
.Fip .ftit{width:460px;font-weight:bold;border-bottom:2px solid #b6b6b6; padding:5px 0;margin:5px 0; }
.Fip .fsel{width:460px;border-bottom:1px solid #e3e3e3;padding:5px 0 10px 5px;line-height:1.2;text-align:center;}
.Fip .fsel input,.Fip .fsel label{height:12px;line-height:1.2}
.Fip .fsel input,.Fip .fsel label{padding:0 5px 0 5px;}
.Fip .Fiptx{width:460px;border-bottom:1px solid #e3e3e3;padding:10px 0;}
.Fip .Fiptx li{padding:5px 0 5px 40px;}
.Fip .Fiptx li span{}
.Fip .vFiptx li .ipty{border:1px solid #e3e3e3;vertical-align:middle;}
.Fip .Fiptx li .ipro{vertical-align:middle;}
.Fip .Fiptx li select{}
.Fip .Fiptx li label{line-height:1.2;vertical-align:middle;}
.Fip .Fiptx .Titx{display:inline-block;width:60px;}
.FIP-btnw{width:285px;margin:0 auto;padding-top:20px;overflow:hidden;}
/*dp1 > dp1 > boardwrite*/
.bwe1{padding:15px;}
.bwe1 input{border-color:#fff;}
.bwe1 label{padding:5px 15px 5px 5px;}
/*dp1 > dp1 >btn*/

/* FIalert */
.FIalert{width:490px;height:246px;overflow:hidden;margin:0 auto;background:url('/Common/Images/Common/FIP-WpBg2.gif') no-repeat 0 0;}
.FIalert .Txwp{width:430px;padding:47px 0 0 30px;text-align:center;}
.FIalert .Txwp p{font-size:14px;font-weight:bold;}
.FIalert .Txwp ul{margin-top:10px;}
.FIalert .Txwp ul span.txtP{color:#f00;}
.FIalert .Txwp ul span.Uline{text-decoration:underline;}
/* FIalert2 */
.FIalert2{width:490px;height:189px;overflow:hidden;margin:0 auto;background:url('/Common/Images/Common/FIP-WpBg3.gif') no-repeat 0 0;}
.FIalert2 .Txwp{width:430px;padding:47px 0 0 30px;text-align:center;}
.FIalert2 .Txwp p{font-size:14px;font-weight:bold;}
.FIalert2 .Txwp span.txtP{color:#f00;}
/* Graph*/
.Gra-wp{width:820px;overflow:hidden;}
.Grap{width:400px;height:252px;}
.Grap-s{width:400px;height:247px;}
/* Login */
.idw{}
/*error*/
.Error-page{position:relative;width:526px;margin:10px auto;height:122px;background:url('/Common/Images/Common/error-Tbg.gif') no-repeat 0 0;}
.Error-page p{position:absolute;left:200px;top:0; width:326px;height:122px;font-weight:bold; font-size:16px;vertical-align:middle;}
.Error-page p span{display:block;padding-top:50px;}
/*Alert*/
.Alert-page{position:relative;width:526px;margin:10px auto;height:122px;background:url('/Common/Images/Common/alert-Tbg.gif') no-repeat 0 0;}
.Alert-page p{position:absolute;left:200px;top:0; width:326px;height:122px;font-weight:bold; font-size:16px;vertical-align:middle;}
.Alert-page p span{display:block;padding-top:50px;}
/*meseage*/
.allsel{padding-left:13px;margin:5px 0;}
.allsel input{vertical-align:middle;margin-right:5px}
.mlist{border:1px solid #d4d4d4;width:350px;height:100px;overflow-y:scroll;}
.mlist ul{width:320px;overflow:hidden;margin-left:10px;}
.mlist ul li{float:left;margin:5px 2px;width:150px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis }
.mlist ul li span{display:block;vertical-align:middle;}
.mlist ul li span input{vertical-align:middle;}
.mlist ul li span label{padding-left:5px;}

.selist{border:1px solid #d4d4d4;width:240px;height:170px;overflow-y:scroll;padding:10px;font-weight:bold;font-size:14px;}
.tabox{height:200px !important;width:550px !important;border:1px solid #d4d4d4;}
/* sitemap */
.stmap{width:250px;padding:25px 5px 25px 5px;overflow:hidden;margin:10px 10px 10px 0;float:left;background:#f4f4f4;border:1px solid #ddd;}
.stmap .dp1{width:250px;font-weight:bold;font-size:16px;background:#ededed;border:1px solid #bcbcbc;text-align:center;overflow:hidden;}
.stmap .dp2{font-size:12px;}
.stmap .dp3{font-size:11px;padding:2px 0 2px 50px;}
/* Main */
.Msbd{padding:15px 0;border:1px solid #d4d4d4; border-width:1px 0 1px 0;width:820px;height:300px;overflow-x:hidden;overflow-y:scroll;}
.MainS{float:left;width:165px;margin:10px auto;border-right:1px solid #d4d4d4;}
.MainS tr th{padding:10px 0 10px 0; text-align:left;padding:0 13px 15px 22px;}
.MainS tr td{padding:2px 0;padding:0 13px 5px 22px;}
.MainS td a:hover{color:#0089bc;}

/*Print*/
#ptbg{background:#fff;height:auto;}

.print3{width:950px;table-layout:fixed;}
	.print3 th, .print3 td{padding:5px;border:1px solid #444;}
	.print3 td{text-align:center}
	.print3 .bdln1{padding:0}
	.print3 .bdrn1{border-right:1px solid #fff;}
	.print3 .bdbn1{border-bottom:1px solid #fff;border-left:1px solid #fff;border-top:1px solid #fff;}
	.print3 .ptit1{font-size:18px;padding:20px 0 !important}
	.print3 .tdag1{}
	.print3 .ctxt{text-align:center}
	.print3 .rtxt1{text-align:right}
	.print3 .fl{float:left}
	.print3 .fr{float:right}
	.print3 .p3txt1{float:left;padding-left:20px;}
	.print3 .p3txt2{float:right;padding-right:20px;}
	.print3 .p31txt1{float:left;padding-left:5px;}
	.print3 .p31txt2{float:right;padding-right:5px;}
	.print3 td.mark1{padding:20px 0 !important;}

.print3wp{width:555px;height:722px;padding:10px 20px;margin:0 auto;position:relative;font-size:11px;}
.print3wp h1{padding:10px 0 25px 0;}
.print3wp .Tb-Tp-tit {color:#000 !important;font-size:12px;padding:10px;}
.print3wp .pt3tit{font-size:20px;text-align:center;padding-bottom:10px;}
.print3wp .gtr{width:100%;overflow:hidden;padding-bottom:5px;}
.print3wp .tbse3{font-weight:bold;}
.print3wp .sign{width:550px;margin-top:60px;overflow:hidden;}
.print3wp .sign .sgd{width:200px;border-top:1px solid #b6b6b6;text-align:center;font-weight:bold;padding-top:5px;}
.print3wp .fcopy{position:relative;border-top:1px solid #b6b6b6;margin-top:10px;}
.print3wp .fcopy dl dt{font-weight:bold;}
.print3wp .copy1{position:absolute;left:20px;top:10px;}
.print3wp .copy2{position:absolute;left:400px;top:20px;}
.print3wp .prtype th{background:#fafafa;}

.print4wp{width:555px;height:822px;padding:10px 20px;margin:0 auto;position:relative;}
.print4wp h1{padding-bottom:20px;}
.print4wp .pt4tit{font-size:20px;text-align:center;padding-bottom:10px;}
.print4wp .p4-date{text-align:center;padding-bottom:20px;}
.print4wp .pt4a{font-weight:bold;padding:10px 0;}
.print4wp .numtb{position:absolute;right:30px;top:60px;}
.print4wp .numtb th, .numtb td{border:1px solid #E3E3E3;}
.print4wp .numtb th {background:#f3f3f3;}
.print4wp .pdn{padding:10px 0;}
.print4wp .txbr{vertical-align:top; font-weight:bold;text-align:center;padding:5px 0;}
.print4wp .prtype1 th{background:#fafafa;}

.print5wp{width:555px;padding:10px 20px;margin:0 auto;}
.print5wp h1{padding-bottom:20px;}
.print5wp .pt5tit{font-size:20px;text-align:center;padding-bottom:20px;}
.print5wp .prtype3 th{background:#fafafa;}

.print6wp{width:800px;height:575px;padding:10px 20px;margin:0 auto;}
.print6wp h1{padding-bottom:20px;}
.print6wp .pt6tit{font-size:16px;text-align:center;}
.print6wp .tb-ty1{border-bottom:2px solid #d4d4d4;}
.print6wp .tb-ty1 .ty1p1{padding:10px;}
.print6wp .tb-ty1 .ty1p1 .pd1{display:block;padding:5px;}
.print6wp .tb-ty1 .ty1p2{padding:10px;}
.print6wp .tb-ty1 .ty1p2 span{padding-left:3px;}
.print6wp .tb-ty1 .mark{font-weight:bold;font-size:14px;text-align:center;vertical-align:top;}
.print6wp .prtype2 th{background:#fafafa;}

.print7wp{width:555px;height:822px;padding:10px 20px;margin:0 auto;font-size:11px;}
.print7wp h1{padding:10px 0 25px 0;}
.print7wp .Tb-Tp-tit {color:#000 !important;font-size:12px;padding:10px;}
.print7wp .pt7tit{font-size:18px;text-align:center;}
.print7wp .p7tb{border-top:1px solid #666;background:#eee;}
.print7wp .p7tb td{text-align:center;padding:15px 0;}
.print7wp .p7tb td span{font-weight:bold;}
.print7wp .p7tb2{background:#eee;border-top:1px dotted #005c96;}
.print7wp .p7tb2 td{padding:10px;}
.print7wp .sign{width:550px;margin-top:60px;overflow:hidden;}
.print7wp .sign .sgd{width:200px;border-top:1px solid #b6b6b6;text-align:center;font-weight:bold;padding-top:5px;}
.print7wp .fcopy{position:relative;border-top:1px solid #b6b6b6;margin-top:10px;}
.print7wp .fcopy dl dt{font-weight:bold;}
.print7wp .copy1{position:absolute;left:20px;top:10px;}
.print7wp .copy2{position:absolute;left:400px;top:20px;}

.print8wp{position:relative;width:555px;height:852px;padding:10px 20px;margin:0 auto;font-size:11px;}
.print8wp h1{padding:10px 0 25px 0;}
.print8wp .Tb-Tp-tit {color:#000 !important;font-size:12px;padding:10px;}
.print8wp .numtb{position:absolute;right:30px;top:20px;}
.print8wp .numtb th, .print8wp .numtb td{border:1px solid #E3E3E3;}
.print8wp .numtb th {background:#f3f3f3;}
.print8wp .pt8tit{font-size:18px;text-align:center;padding:15px 0;}
.print8wp .p8tb{border-top:1px solid #666;background:#eeeeee;}
.print8wp .p8tb td{text-align:center;padding:15px 0;}
.print8wp .p8tb td span{font-weight:bold;}
.print8wp .p8tb2{background:#eee;border-top:1px dotted #005c96;}
.print8wp .p8tb2 td{padding:10px;}
.print8wp .sign{width:550px;margin-top:60px;overflow:hidden;}
.print8wp .sign .sgd{width:200px;border-top:1px solid #b6b6b6;text-align:center;font-weight:bold;padding-top:5px;}
.print8wp .fcopy{position:relative;border-top:1px solid #b6b6b6;margin-top:10px;}
.print8wp .fcopy dl dt{font-weight:bold;}
.print8wp .copy1{position:absolute;left:20px;top:10px;}
.print8wp .copy2{position:absolute;left:400px;top:20px;}

.print9wp{width:800px;padding:10px 20px;margin:0 auto;}
.print9wp h1{padding-bottom:20px;}
.print9wp .pt5tit{font-size:20px;text-align:center;padding-bottom:20px;}

.print10wp{width:760px;padding:10px 20px;margin:0 auto;}
.print10wp h1{padding-bottom:20px;}
.print10wp .pt10tit{font-size:20px;text-align:center;padding-bottom:20px;}
.print10wp .TbCel-Type2{}
.print10wp .TbCel-Type2 th{padding:0px;text-align:center;}
.print10wp .TbCel-Type2 td{padding:5px 0;}

.print11wp{width:780px;padding:10px 20px;margin:0 auto;position:relative;}
.print11wp h1{padding-bottom:20px;}
.print11wp .pt11tit{font-size:20px;text-align:center;padding-bottom:20px;padding-right:150px;}
.print11wp .TbCel-Type2{}
.print11wp .TbCel-Type2 th{padding:0px;text-align:center;}
.print11wp .TbCel-Type2 td{padding:5px 0;text-align:center;}
.print11wp .p11mk td{padding:25px 0;}
.print11wp .p11mv{position:absolute;right:0px;top:60px;}
.print11wp .p11tin{padding:0 0 15px 10px;}
.print11wp .p11tin .ip1{}
.print11wp .p11tin .ip2{padding-left:280px;}

.print12wp{width:800px;height:575px;padding:10px 20px;margin:0 auto;}
.print12wp h1{padding-bottom:20px;}
.print12wp .pt12tit{font-size:16px;text-align:center;}
.print12wp .tb-ty1{border-bottom:2px solid #d4d4d4;}
.print12wp .tb-ty1 .ty1p1{padding:10px;}
.print12wp .tb-ty1 .ty1p1 .pd1{display:block;padding:5px;}
.print12wp .tb-ty1 .ty1p2{padding:10px;}
.print12wp .tb-ty1 .ty1p2 span{padding-left:3px;}
.print12wp .tb-ty1 .mark{font-weight:bold;font-size:14px;text-align:center;vertical-align:top;}
.print12wp .prtype2 th{background:#fafafa;}

.print13wp{width:780px;padding:10px 20px;margin:0 auto;position:relative;}
.print13wp h1{padding-bottom:20px;}
.print13wp .pt13tit{font-size:20px;text-align:center;padding-bottom:20px;}
.print13wp .TbCel-Type2{}
.print13wp .TbCel-Type2 th{padding:0px;text-align:center;}
.print13wp .TbCel-Type2 td{padding:5px 0;text-align:center;}
.print13wp .p13mk td{padding:25px 0;}
.print13wp .p13mv{position:absolute;right:0px;top:118px;}
.print13wp .p13tin1{padding:0 0 0 10px;}
.print13wp .p13tin1 .ip1{}
.print13wp .p13tin1 .ip2{padding-left:280px;}
.print13wp .p13tin2{padding:40px 0 15px 10px;}
.print13wp .p13type td{padding:5px 0;}
.print13wp .p13Line{width:800px;border-top:1px dotted #666;padding:20px 0;}
.print13wp .p13mv2{position:absolute;right:0px;top:11px;}
.bgType1{background:#efefef !important;}
.bgType2{background:#e7eefe !important;}
.bgType3{background:#ffffff !important;}