@model IEnumerable<KNNEW.Models.TopMenu>

@{    
    <div class="top-nav">
    @foreach( var srrt in Model)
    {
           <span><a href="">@srrt.MenuName</a></span> 
    }      
    </div>    
    
}

